@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">PILKKIKILPAILU</h1>
    <p>Todellisille kalamiehille ja -naisille!</p>


<div class="jumbotron">
    <h1 class="display-4">Mahdoton tehtävä -pilkkikisa</h1>
    <p class="lead">Saatko kalattomasta järvestä kalaa?</p>
    <hr class="my-4">
    <p>Kalatonjärvestä saatiin kala viimeksi vuonna 1970. Urotyön teki tunnettu kalamies Urho Kekkonen.</p>
    
    <img src="assets/kuvat/pilkkimies.jpg">

    <div class="alert alert-success mt-3" role="alert">
        Jokaisesta saadusta kalasta 10 000 euroa!
    </div>

</div>
</div>
